a.linkPurple {
    color:  purple !important; 
}
a.linkYellow {
    color:  yellow !important; 
}
a.linkOrange {
    color:  orange !important; 
}
a.linkCoral {
    color: lightcoral !important; 
}
a.linkGreen {
    color:  green !important; 
}