a.linkPurple {
    color:  purple !important; 
}
a.linkYellow {
    color:  yellow !important; 
}
a.linkOrange {
    color:  orange !important; 
}
a.linkOrange {
    color:  orange !important; 
}
a.linkBlue {
    color:  lightblue !important; 
}
a.linkGreen {
    color:  green !important; 
}